.myprojectContainer{
    margin-left: 32px;
    margin-right: 32px;
}

.profile {
    margin-top: 112px;
    margin-bottom: 56px;
    display: flex;
    justify-content: center;
}

.profile > div {
    display: inline-flex;
    align-items: flex-start;
    gap: 42px;
}

.avatar {
    display: flex;
    width: 122px;
    height: 122px;
    border-radius: 300px;
    justify-content: center;
    align-items: center;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--2, 16px);
}

.user > strong{
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 100% */

    color: var(--color-neutral-120, #303133);
}

.user > p {
    color: var(--color-neutral-130, #0B0C0D);
    opacity: 0.5;

    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    letter-spacing: 0.15px;
}

.infoContainer{
    display: flex;
    justify-content: left;

}

.info {
    width: 513px;
    margin-bottom: 40px;

}

.info > h1 {
    color: var(--color-neutral-130);

    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.15px;

    opacity: 0.6;

    margin-bottom: 16px;
}

.cards {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 24px;
}

.card {
    width: 389px;
    height: 258px;
    padding: 68px 60px;

    border-radius: var(--borderRadius, 4px);
    background: var(--color-neutral-70, #E6E9F2);

    cursor: pointer;
}

.card > img {
    width: 100%;
    height: 100%;
}



.icon {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.icon svg { 
    width: 46px;
    height: 46px;

}

.card p {
    color: var(--color-neutral-120, #303133);
    /* [Orange P] Style Guide/Body 1 */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    letter-spacing: 0.5px;
    opacity: 0.6;
}

.card p:last-child {
    margin-top: 16px;

    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
    letter-spacing: 0.25px;
}

@media (max-width: 768px) {
    .profile {
        margin-top: 56px;
        margin-bottom: 40px;
    }

    .profile > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    .myprojectContainer{
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .infoContainer{
        display: flex;
        justify-content: center;
    }
    

    .info {
        width: 312px;
        margin-bottom: 24px;
        
    }

    .card {

        width: 312px;
        padding: 68px 21px;
        
    }

    .cards {
        display: flex;
        justify-content: center;
    }
    
}