.projectCard {
    position: relative;
    width: 389px;
    height: 258px;

    border-radius: var(--borderRadius, 4px);
    background: lightgray 50% / cover no-repeat;
}

.editButton {
    position: absolute;
    right: 16px;
    top: 16px;

    background: var(--Color-Brand-Secundria-Secondary-70, #FC9);
    border-radius: 300px;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.projectInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.projectInfoFirst{
    display: flex;
    align-items: center;
}

.projectInfoFirst > img{
    width: 24px;
    height: 24px;
    border-radius: 300px;
}

.projectInfoFirst > div {
    text-align: center;
    /* [Orange P] Style Guide/Subtitle 1 */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    letter-spacing: 0.15px;

    margin-left: 8px;
    color: var(--color-neutral-110, #515255);
}

.projectInfoFirst > div > p{
   display: inline;

}

.projectInfoFirst > div > span::before {
    content: "•";
    padding-right: 4px;
    padding-left: 8px;
}

.projectInfoLast {
    display: flex;
    gap: 8px;
}

@media (max-width: 768px) {
    .projectCard {
        width: 312px;  
        background: lightgray -41.916px -34px / 174.822% 138.838% no-repeat;
    }


    .projectInfoFirst > img{
        width: 40px;
        height: 40px;
    }

    .projectInfoFirst > div > p {
        display: block;
        margin-bottom: 8px;

        color: var(--Neutral-Colors-Neutral-120, #303133);
    }

    .projectInfoFirst > div > span {
        display: flex;
    }

    .projectInfoFirst > div > span::before {
        content: none;
        padding: 0;
    }
    
    
}