.layout_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 883px;
}

.title_container {
    margin-top: 76px;
    display: flex;
    justify-content: center;
}

.title {
    color: var(--Neutral-Colors-Neutral-120, #303133);
    text-align: center;
    /* [Orange P] Style Guide/H5 */
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 100% */
}

.container_imagem {
    margin-left: 24px;
    margin-right: 24px;
    width: 312px;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagem {
    width: 312px;
    height: 258px;
    flex-shrink: 0;
    background-color: cadetblue;
    border-radius: var(--borderRadius, 4px);
    background: url(/src/assets/Image_modal_mobile.png), lightgray 50% / cover no-repeat;
}

.container_perfil {
    display: flex;
    align-items: center;
    margin-top: 8px;
    width: 312px;
    gap: 28px;
}

.logo_perfil {
    display: flex;
}

.perfil {
    width: var(--3, 24px);
    height: var(--3, 24px);
    border-radius: var(--none, 24px);
    background: url(<path-to-image>), lightgray 0px 0px / 100% 100% no-repeat;
}

.chip_container {
    display: flex;
    padding: var(--borderRadius, 4px);
    align-items: center;
    gap: var(--none, 4px);
    border-radius: 100px;
    background: var(--action-selected, rgba(0, 0, 0, 0.08));
}

.perfil_descricao {
    display: flex;
    align-items: center;
    margin-left: 4px;
    color: var(--Neutral-Colors-Neutral-110, #515255);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 100% */
    margin-left: 4px;
    letter-spacing: 0.15px;
}

.container_descricao {
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 20px;
    width: 308px;
    height: 883px;
}

.descricao {
    color: var(--Neutral-Colors-Neutral-120, #303133);
    /* [Orange P] Style Guide/Body 1 */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 100% */
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    padding: 6px;
}

.download {
    color: var(--Neutral-Colors-Neutral-120, #303133);
    padding: 6px;
    /* [Orange P] Style Guide/Subtitle 1 */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.15px;

}

.link {
    color: var(--Support-Colors-Info-info-80, #608AE1);
    text-decoration: none;
    /* [Orange P] Style Guide/Body 2 */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.25px;
    padding: 6px;
}