.title_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 112px;

}

.title {
    width: 744px;
    color: var(--Color-Brand-Primria-Primary-90, #224);
    text-align: center;

    /* [Orange P] Style Guide/H4 */
    font-family: Roboto;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    /* 100% */
    letter-spacing: 0.25px;
}

.input_container {
    margin-top: 120px;
    width: 50%;
    margin-left: 32px;
}

