.teste {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-size: 30px;
    cursor: pointer;
}

.teste:hover {
    font-size: larger;
}

.modal_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1200px;
    flex-shrink: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_form {
    padding: 24px;
    display: flex;
    flex-direction: column;
    width: 890px;
    height: 522px;
    flex-shrink: 0;
    border-radius: var(--none, 0px);
    background: #FEFEFE;
}

.title_form {
    width: 826px;
    color: var(--Neutral-Colors-Neutral-110, #515255);
    /* [Orange P] Style Guide/H5 */
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 100% */
}

.Input_form_container {
    margin-top: 24px;
    display: inline-flex;
    height: 336px;
    padding: var(--none, 0px);
    justify-content: center;
    align-items: flex-start;
    gap: var(--3, 24px);
    flex-shrink: 0;
}

.container_upload {
    width: 50%;
    height: 336px;
    border-radius: var(--borderRadius, 4px);
}

.conteudo_upload {
    color: var(--Neutral-Colors-Neutral-110, #515255);
    /* [Orange P] Style Guide/Subtitle 1 */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 100% */
    letter-spacing: 0.15px;
}

.container_button_upload {
    margin-top: 16px;
    cursor: pointer;
    display: flex;
    width: 389px;
    height: 304px;
    padding: var(--none, 91px) var(--none, 59px) var(--none, 91px) var(--none, 60px);
    justify-content: center;
    align-items: center;
    gap: var(--none, 0px);
    border-radius: var(--borderRadius, 4px);
    background: var(--Neutral-Colors-Neutral-70, #E6E9F2);
}

.button_upload {
    cursor: pointer;
    display: flex;
    padding: var(--none, 0px);
    flex-direction: column;
    align-items: center;
    gap: var(--2, 16px);
    border-radius: var(--none, 0px);
    background: var(--Neutral-Colors-Neutral-70, #E6E9F2);
    border: none;
}

.button_text {
    cursor: pointer;
    color: var(--Neutral-Colors-Neutral-120, #303133);
    text-align: left;
    /* [Orange P] Style Guide/Body 2 */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    /* 100% */
    letter-spacing: 0.25px;
    opacity: 0.6;
}

.Text_input_container {
    display: flex;
    width: 413px;
    padding: var(--none, 0px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--2, 16px);
    align-self: stretch;
}

.Subtitle {
    color: var(--Neutral-Colors-Neutral-110, #515255);
    margin-top: 16px;
    /* [Orange P] Style Guide/Subtitle 1 */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 100% */
    letter-spacing: 0.15px;
}

.Button_container {
    display: inline-flex;
    padding: var(--none, 0px);
    flex-direction: row;
    align-items: center;
    gap: var(--3, 16px);
    height: 200px;
}



.modal {
    display: inline-flex;
    padding: var(--2, 32px) var(--2, 48px);
    justify-content: center;
    align-items: center;
    gap: var(--none, 0px);
    border-radius: var(--none, 0px);
    background: var(--Neutral-Colors-Neutral-60, #FCFDFF);
}

.container_conteudo {
    display: flex;
    padding: var(--none, 0px);
    flex-direction: column;
    align-items: flex-end;
    gap: var(--3, 24px);
    border-radius: var(--none, 0px);
}

.title {
    width: 255px;
    color: var(--Neutral-Colors-Neutral-110, #515255);
    text-align: center;

    /* [Orange P] Style Guide/H5 */
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 100% */
}

.imagem {
    display: flex;
    width: 255px;
    height: var(--5, 40px);
    padding: var(--none, 0px);
    justify-content: center;
    align-items: center;
    gap: var(--2, 0px);
    border-radius: var(--none, 0px);
}

.imagem img {
    background-color: #118822;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: var(--none, 20px);
}

.button {
    width: 254px;
    font-family: Roboto;
    font-size: 15px;
    background: var(--Color-Brand-Secundria-Secondary-100, #F52);
}